.card {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 0px; /* Adjust the gap between cards as needed */
}

.grid{
    background-color: #3498db;
}

.card1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: black;
    color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}
.card2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: black;
    color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}
.card3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: black;
    color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}
.card4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: black;
    color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}
.card5{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: black;
    color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}
.card6{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: black;
    color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}
.card7{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: black;
    color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}
.card8{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: black;
    color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}
.card9{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: black;
    color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}
